@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Open+Sans&display=swap');

/*Fonts we are using below...*/
/*font-family: 'Cabin', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

:root {
    --olive-green: #586B31;
    --army-green: #474B24;
    --orange: #F28F3B;
    --off-white: #EAEBE4;
    --jet: #3A3839;
    --laurel-green: #C1C5AE;
}

/*LANDING*/

.bg {
    background-image: url("../img/landing-img-dos.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: var(--off-white);
    font-size: 5em;
    padding-top: 1.8em;
}

.tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: var(--jet);
    margin-bottom: 2em;
}

.landing-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: var(--off-white);
    background-color: var(--army-green);
}

/*LOGIN*/

.bg-login {
    background-image: url("../img/login-img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-login {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: var(--army-green);
    font-size: 5em;
    padding-top: 1.8em;
    margin-bottom: .8em;
}

.login-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: var(--off-white);
    background-color: var(--army-green);
}

.login-h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    color: var(--jet);
    padding-top: 1em;
    margin-bottom: 2em;
}

/*REGISTER*/

.bg-reg {
    background-image: url("../img/reg-img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-reg {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: var(--army-green);
    font-size: 5em;
    padding-top: .5em;
    margin-bottom: .2em;
}

.reg-tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: var(--jet);
    margin-bottom: 1.5em;
}

.reg-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: var(--off-white);
    background-color: var(--army-green);
    margin-top: .5em;
}

/*NAV*/

.nav-bg {
    font-family: 'Open Sans', sans-serif;
    color: var(--jet);
    background-color: var(--off-white);
}

.nav-btn {
    border-color: var(--army-green);
    color: var(--army-green);
}


/*PROFILE*/

.bg-pro {
    background-color: var(--off-white);
}

.pro-welcome {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    text-align: left;
    text-transform: uppercase;
    color: var(--jet);
    padding-top: 1em;
    margin-bottom: 1.5em;
}

.pro-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: var(--off-white);
    background-color: var(--army-green);
    /*margin: .5em;*/
}


/*CARDS*/

.card-bg {
    font-family: 'Open Sans', sans-serif;
    color: var(--off-white);
    background-color: var(--army-green);
    border: 1px solid #474B24;
}

.card-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: var(--jet);
    background-color: var(--off-white);
}

/*EDIT PROFILE*/

.bg-edit {
    background-image: url("../img/profile-img.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.edit-text-top {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: var(--jet);
    padding-top: 2em;
}

.edit-text-btm {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: var(--jet);
    margin-bottom: 2em;
}

.edit-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: var(--off-white);
    background-color: var(--army-green);
    margin-top: .5em;
}


/*VIEW ALL ADS*/

.bg-ads {
    background-color: var(--off-white);
}

.ads-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    text-align: center;
    text-transform: uppercase;
    color: var(--jet);
    padding-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: .5em;
}

.ads-s {
    text-transform: lowercase;
}


/*EDIT AD*/

.bg-edit {
    background-image: url("../img/edit-ads-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.edit-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    text-align: left;
    text-transform: uppercase;
    color: var(--jet);
    padding-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: .5em;
}